  <!-- Inclede Header -->
  <%-include('include/_header_with_logout_button')%>
  <!-- /Inclede Header -->

  <!-- Main Site -->

  <main id="site-main-home">
    <div class="container-home">
      <div class="head-home">
        <h1>Your Personal Data</h1>
      </div>
      <div class="aftersignup">
        <h2>
            Welcome Mr or Mrs ........
        </h2>
      </div>
    </div>
  </main>
  <!-- /Main Site -->

  <!-- Include footer -->
  <%-include('include/_footer')%>
    <!-- /Include footer -->