<!-- Form Handaling -->
<form action="/api/users" method="post" id="new_signup" class="myform">
    <div class="signup">
        <div class="form-group">
            <label for="fname" class="text-light">Enter your First Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="fname" value="" placeholder="Mark" id="">
        </div>
        <div class="form-group">
            <label class="text-light" for="lname">Enter your Last Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="lname" id="" placeholder="Stoenis">
        </div>
        <div class="form-group">
            <label class="text-light" for="email">Enter your Email</label>
            <input type="hidden" name="id" value="">
            <input type="email" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">Create your Password</label>
            <input type="hidden" name="id" value="">
            <input type="password" name="password" value="" placeholder="eg = 123abc" id="">
        </div>
        <div class="form-group">
            <button class="btn btn-signup text-dark signup" type="submit">Sign Up</button>
        </div>
        <!-- <div class="form-group">
            <a href="/sign_in">
                <button class="btn-signup">back to signin page</button>
            </a>
        </div> -->

    </div>
</form>
<!-- /Form Handaling -->