<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up and Sign In</title>
    <!-- Font awsome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /Font awsome cdn -->

    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/bg_image_home.css"> -->

</head>
<body>

    <!-- Header -->
    <header id="header">
        <nav id="navbar">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">About</a>
                </li>
                <li>
                    <a href="/">Services</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                <li>
                    <a class="right-side" href="/secret">User</a>
                </li>
                <li>
                    <a class="" href="/logout">Log Out</a>
                </li>
                <li>
                    <a class="signin" href="/sign_in">Sign In</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Header -->  